<div class="container" style="margin: 10px;">
    <form >
        <!-- Email input -->
        <div class="form-outline mb-4">
            <input id="date" #searchingName class="form-control"
                placeholder="Start searching for a employee by first or last name" />
        </div>
        <div class="form-group">
            <input type="date" name="startEmploymentDate" id="startEmploymentDate" #startEmploymentDate class="form-control"
                placeholder="Employment start date" />
        </div>
        <div class="form-outline mb-4">
            <input type="date" name="endEmploymentDate" id="endEmploymentDate" #endEmploymentDate class="form-control"
                placeholder="Employment end date" />
        </div>
        <div class="col auto">
            <button class="btn btn-success" (click)="SearchClick(searchingName.value,startEmploymentDate.value,endEmploymentDate.value)">Search Employee</button>
        </div>
    </form>
    <div class="row" style="margin: 10px;">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Job Title</th>
                    <th>Age</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                </tr>
            </thead>
            <tbody >
                <ng-container *ngFor="let item of employees" >
                    <tr >
                    <td>{{ item?.id }}</td>
                    <td>{{ item?.firstName }} {{ item?.lastName }}</td>
                    <td>{{ item?.jobTitle }}</td>
                    <td>{{ item?.age }}</td>
                    <td>{{ item?.startDateEmployement | date }}</td>
                    <td>{{ item?.endDateEmployement | date }}</td>
                    </tr>       
                   </ng-container>
                <!-- <tr *ngFor="let employee of employees">
                    <td>{{employee.Name}}/td><td>3</td><td>3</td></tr> -->
                <!-- <div >
                    <app-search-list-item [searchEmployee]="employee"></app-search-list-item>
                </div> -->
            </tbody>
        </table>
    </div>
</div>
<!-- <div class="col-md-3 col-xs-6" >
    <table>
        <thead>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
          </tr>
        </thead>
<div class="row" *ngFor="let employee of employees">
        <app-search-list-item [searchEmployee]="employee"></app-search-list-item>
    </div>
    </table>
</div> -->