/* You can add global styles to this file, and also import other style files */
.colorStyleClass{

    color: red;
}
.BoldStyleClass{

    font-weight: bold;
    font-variant:small-caps;
}
.obliqueStyleClass{

    font-style: oblique;
}
.variantStyleClass{

    font-variant: small-caps;
}